<style>
  {{ $majorMono := resources.Get "font/major_mono.ttf" | fingerprint }}
  @font-face {
    font-family: "Major Mono";
    font-display: swap;
    src: url("{{ $majorMono.Permalink }}") format("truetype");
    font-weight: normal;
  }

  {{ $brunoAce := resources.Get "font/BrunoAceSC-Regular.ttf" | fingerprint }}
  @font-face {
    font-family: "Bruno Ace SC";
    font-display: swap;
    src: url("{{ $brunoAce.Permalink }}") format("truetype");
    font-weight: bold;
  }

  {{ $jetbrainsMonoReg := resources.Get "font/jetbrains-mono/ttf/JetBrainsMono-Regular.ttf" | fingerprint }}
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    src: url("{{ $jetbrainsMonoReg.Permalink }}") format("truetype");
    font-weight: normal;
  }

  {{ $jetbrainsMonoEl := resources.Get "font/jetbrains-mono/ttf/JetBrainsMono-ExtraLight.ttf" | fingerprint }}
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    src: url("{{ $jetbrainsMonoEl.Permalink }}") format("truetype");
    font-weight: 300;
  }
</style>