@font-face {
  font-family: "Major Mono";
  src: url("../font/major_mono.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --primary-font-color: #222;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;

  background-color: #E8E8E8;
}

header {
  padding: 16px 62px;
}

header > h1 {
  text-align: end;
  margin: 0;

  font-family: "Major Mono", monospace;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
