@media screen and (min-width: 768px) {
  header {
    padding: 0 62px;
  }

  .capture-title-container, .title-container {
    flex-direction: row;
    align-items: center;
    justify-content: end;

    padding-left: 0;
    padding-right: 0;
  }

  .capture-title-container {
    justify-content: space-between;
  }

  .capture-heading {
    margin: 0 62px 0 0;
  }

  .capture-thumb-container {
    font-size: xx-large;

    max-height: 400px;
  }

  .capture-subheading-container {
    padding: 0;
  }

  .capture-right-ascension-heading {
    margin: 0 62px 16px 0;
  }

  .capture-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0 240px;
  }

  .capture-details {
    justify-content: start;
  }
}